<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story 1</title>
  <link rel="stylesheet" href="login-page.css">
  <script defer src="story.js"></script>
</head>

<body>
  <h1>Select a story</h1>
    
  <h3>Story 1</h3>
    <div id="content">
      <p id="story-desc">Select a story to start the game </p>
      <h2>Let's Play!</h2>
    </div>
    <input type=button onClick="location.href='start-game.html'" value='Download' id="login-form-submit">
</body>

</html>


